doc/html/BstMaxBufConfigSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="bstmaxbufs">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="unit">
          <xs:complexType>
            <xs:all>
              <xs:element name="realm-device" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="data">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:int" name="data-max"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="realm-ingress-port-priority-group" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="data" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="port">
			                <xs:simpleType>
                              <xs:restriction base="xs:integer">
                                <xs:minInclusive value="1"/>
                                <xs:maxInclusive value="130"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element> 
                          <xs:element name="priority-group">
						    <xs:simpleType>
                              <xs:restriction base="xs:integer">
                                <xs:minInclusive value="0"/>
                                <xs:maxInclusive value="7"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element type="xs:int" name="um-share-buffer-max"/>
                          <xs:element type="xs:int" name="um-headroom-buffer-max"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="realm-ingress-port-service-pool" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="data" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="port">
						    <xs:simpleType>
                              <xs:restriction base="xs:integer">
                                <xs:minInclusive value="1"/>
                                <xs:maxInclusive value="130"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="service-pool">
						    <xs:simpleType>
                              <xs:restriction base="xs:integer">
                                <xs:minInclusive value="0"/>
                                <xs:maxInclusive value="4"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>						  
                          <xs:element type="xs:int" name="um-share-buffer-max"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="realm-ingress-service-pool" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="data" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="service-pool">
						    <xs:simpleType>
                              <xs:restriction base="xs:integer">
                                <xs:minInclusive value="0"/>
                                <xs:maxInclusive value="4"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>						  
                          <xs:element type="xs:int" name="um-share-buffer-max"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="realm-egress-port-service-pool" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="data" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="port">
						    <xs:simpleType>
                              <xs:restriction base="xs:integer">
                                <xs:minInclusive value="1"/>
                                <xs:maxInclusive value="130"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>						  
                          <xs:element name="service-pool">
						    <xs:simpleType>
                              <xs:restriction base="xs:integer">
                                <xs:minInclusive value="0"/>
                                <xs:maxInclusive value="3"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>						  
                          <xs:element type="xs:int" name="um-share-buffer-max"/>
                          <xs:element type="xs:int" name="uc-share-buffer-max"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="realm-egress-service-pool" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="data" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="service-pool">
						    <xs:simpleType>
                              <xs:restriction base="xs:integer">
                                <xs:minInclusive value="0"/>
                                <xs:maxInclusive value="3"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>						  
                          <xs:element type="xs:int" name="um-share-buffer-max"/>
                          <xs:element type="xs:int" name="mc-share-buffer-max"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="realm-egress-uc-queue" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="data" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="queue">
						    <xs:simpleType>
                              <xs:restriction base="xs:integer">
                                <xs:minInclusive value="0"/>
                                <xs:maxInclusive value="4095"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>						  
                          <xs:element type="xs:int" name="uc-buffer-max"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="realm-egress-uc-queue-group" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="data" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="queue-group">
						    <xs:simpleType>
                              <xs:restriction base="xs:integer">
                                <xs:minInclusive value="0"/>
                                <xs:maxInclusive value="127"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>						  
                          <xs:element type="xs:int" name="uc-buffer-max"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="realm-egress-mc-queue" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="data" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="queue">
						    <xs:simpleType>
                              <xs:restriction base="xs:integer">
                                <xs:minInclusive value="0"/>
                                <xs:maxInclusive value="1039"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>						  
                          <xs:element type="xs:int" name="mc-buffer-max"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="realm-egress-cpu-queue" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="data" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="queue">
						    <xs:simpleType>
                              <xs:restriction base="xs:integer">
                                <xs:minInclusive value="0"/>
                                <xs:maxInclusive value="7"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>						  
                          <xs:element type="xs:int" name="cpu-buffer-max"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="realm-egress-rqe-queue" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="data" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="queue">
                            <xs:simpleType>
                              <xs:restriction base="xs:integer">
                                <xs:minInclusive value="0"/>
                                <xs:maxInclusive value="10"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>						  
                          <xs:element type="xs:int" name="rqe-buffer-max"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:all>
            <xs:attribute type="xs:byte" name="num"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
